body {
    color: rgba(0, 0, 0, 0.645);
    background-color: azure;
    margin-left: 30px ;
    font-display: fallback;
    font-style: italic;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-kerning: normal;
    width:70%;
    font-size: small;
}

.img {


}

.heading{
    
}